/**
 * VARIABLE ONLY!!!!
 **/

@import url(https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic);
$font-stack: "PT Sans Caption","robotoRuble","verdana","sans-serif";
$font-weight: 400;
$wrap: 750px;

$iw-base-color1:  #ffffff;
$iw-base-color2:  #0D63B8;
$iw-base-color3:  #004991;
$iw-base-color4:  #f3f9ff;
$iw-base-color5:  #445755;

$iw-error-color:  #c91900;
$iw-ext-color1:   #ff7800;
$iw-ext-color2:   #fdffbf;
